<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-configuration android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S_GEMPONG"
        tools:targetApi="31">

        <activity
            android:name="User.Login"
            android:exported="true" />
        <activity
            android:name="User.Register"
            android:exported="true" />
        <activity
            android:name="User.ForgotPassword"
            android:exported="true" />
        <activity
            android:name="User.ResetPassword"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.HomestayAddActivity"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.MakananAddActivity"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.MakananEdit"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.OleholehAddActivity"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.OleholehEdit"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.WahanaAddActivity"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.WahanaEdit"
            android:exported="true" />
        <activity
            android:name="MenuSettingsApps.HomestayManagement"
            android:exported="true" />





        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>